{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Shinychu Host{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
    <script src="https://cdn.tailwindcss.com"></script>
    
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;600&display=swap" rel="stylesheet">

    {% block meta_tags %}{% endblock %}

    <style>
        body {
            font-family: 'Fredoka', sans-serif;
        }
        /* Estilos globales opcionales */
    </style>
    
    {% block extra_css %}{% endblock %}
</head>

<body class="bg-gradient-to-br from-black via-gray-900 to-red-950 text-white h-screen flex items-center justify-center overflow-hidden relative">

    {% block content %}{% endblock %}

    {% block scripts %}{% endblock %}

</body>
</html>